.body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #fff;
}
/* Navbar.css */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #00b894;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  z-index: 1000;
}

.navbar h1 {
  margin: 0;
  font-size: 1.5rem;
}

.sidebar {
  position: fixed;
  top: 60px; /* below navbar */
  left: 0;
  width: 250px;
  height: calc(100vh - 60px);
  background-color: #2d3436;
  color: white;
  padding: 1px;
  overflow-y: auto;
}

.Item {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  color: black;
  margin-bottom: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

/* Hover effect */
.Item:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #f1f2f6;
}
.sidebar-item {
  display: flex;
  flex-direction: column;

  align-items: center;
  cursor: pointer;
  margin: 1px;
  border: 1px solid #ccc;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px; /* below navbar */
  margin-left: 250px; /* beside sidebar */
  padding: 2rem;
  min-height: calc(100vh - 60px);
  background-color: blue;
}
.QuizBox {
  background-color: white;
  border: solid black;
  border-radius: 30px;
  padding: 30px;
  max-width: max-content;
  margin: 30px;
}

.QuizBox ul li {
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.taketest {
  display: flex;
  background-color: white;
  border: solid black;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  padding: 30px;
  max-width: 900px;
  min-width: 300px;
  margin: 30px;
}
.taketest .add-file {
  display: grid;
  grid-auto-rows: auto;
  gap: 1rem;
  place-items: center;
  border: 1px solid black;
  border-radius: 20px;
  min-width: 280px;
  max-width: 880px;
  padding: 20px;
}

.taketest .add-system {
  display: grid;
  grid-auto-rows: auto;
  gap: 1rem;
  place-items: center;
  border-radius: 20px;
  min-width: 280px;
  max-width: 880px;
  padding: 20px;
}

.plus {
  font-size: 20px;
}
